:root {
    --color-white: #fafafa;
    --color-black: #071e22;
    --color-primary: #1d7874;
    --color-primary-v2: #679289;
    --color-secondary: #ee2e31;
    --color-tertiary: #f4c095;
}
html {
    font-family: futura-pt, sans-serif;
    margin: 0;
    padding: 0;
}
body, * {
    margin: 0;
    padding: 0;
    max-width: 100%;
}


/*Font styles*/
.font-cap {
    text-transform: uppercase;
    letter-spacing: 1.25px;
    font-size: 14px;
    font-weight: 600;   
}
.font-sub1 {
    text-transform: uppercase;
    letter-spacing: 1.25px;
    font-size: 16px;
    font-weight: 600;
}
.font-h2 {
    font-size: 60px;
    font-weight: 600;
    letter-spacing: -0.5px;
}
.font-h6 {
    font-size: 20px;
    letter-spacing: 0.15px;
}
.font-p {
    font-size: 16px;
    letter-spacing: 0.5px;
}


/* Navigation bar */
nav {
    position: absolute;
    width: 100vw;
    top: 0;
    left: 0;
    box-sizing: border-box;
    padding: 32px 48px;
    display: flex;
    justify-content: space-between;
}
.logo {
    width: 32px;
    color: var(--color-black);
}
.nav-links {
    display: flex;
    flex-direction: row;
    color: var(--color-black);
}
.nav-links > a {
    margin: 0 8px;
    opacity: 30%;
    color: var(--color-black);
    text-decoration: none;
}
.nav-links > a.nav-links-active {
    opacity: 70%;
}

/* Main About */
.main-about {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: var(--color-white);
}
.main-about-title {
    color: var(--color-black);
    margin-bottom: 20px;
}
.main-about-school {
    color: var(--color-secondary);
}
.main-about-desc {
    width: 435px;
    text-align: center;
}
.main-about-links {
    margin: 8px;
    color: var(--color-primary-v2);
}
.main-about-links > a {
    color: var(--color-primary-v2);
}


/* Main Projects */
.main-projects {
    background-color: var(--color-black);
    padding: 120px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--color-white);
}
.main-projects > * {
    width: 880px;
}
.main-projects-title {
    margin-bottom: 40px;
}
.main-projects-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.main-projects-desc {
    width: 400px;
    margin-bottom: 28px;
}
.main-projects-desc-title {
    margin-bottom: 12px;
}